{% extends 'base.html.twig' %}

{% block titre_page %}Emprunts{% endblock %}
{% block content %}
    <h1 style="color: #3F51B5">Salut {{ user.firstName }} !</h1>
    <hr />

    <p>Tu as emprunté :</p>
    <div class="row">
        {% for borrowing in user.borrowed %}
            <div class="col col-sm-6 col-md-6 col-lg-4">
                <section class="card">
                    <div class="header bg-deep-purple">
                        <h2>
                            {{ borrowing.equipment.name }}
                            <small>A rendre le {{ borrowing.endedOn | date("d/m/Y") }}</small>
                        </h2>
                    </div>
                    <div class="body">
                        <p>Tu peux avoir {{ borrowing.allowedDays }} jours de retard.</p>
                        <button type="button" class="btn bg-deep-purple">
                            <a href="#" style="color: white; text-decoration: none">Rendre</a>
                        </button>
                    </div>
                    <div class="card-footer container">
                        {% if borrowing.remarks != NULL %}
                            <span style="color: darkgray;">Remarque(s) : {{ borrowing.remarks }}</span>
                        {% endif %}
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>

    <button type="button" class="btn bg-deep-purple">Emprunter</button>
{% endblock %}
